html {
	background: #5c068c;
}

body {
	font: 16px/1.5 "source-code-pro", sans-serif;
	font-weight: 300;
	max-width: 450px;
	padding: 40px;
	color: #fff;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: #f1eef6;
	color: black;
}

p,
h1 {
	margin: 0;
}

h1 {
	font-family: "Greta Sans Heavy Italic", sans-serif;
	font-size: 48px;
	line-height: 1;
	margin-bottom: .25em;
	
}

h1,
p,
ul {
	opacity: 0;
	transition: opacity .25s ease-in;
}

.wf-active h1,
.wf-active p,
.wf-active ul {
	opacity: 1;
}

a,
a:visited {
	color: #f5f5f5;
	font-weight: 600;
	text-decoration: none;
	transition: font-weight .25s ease-in;
}

a:hover {
	font-weight: 200;
}

ul {
	list-style: none;
	padding-left: 0;
}